<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body> <br><br>
   <a href="/publishedbook"> Book list</a><br><br>
   <h3>My subscription list </h3> <br><br>
   <table>
     {{if .Blist}} {{range .Blist}}
       <tr>
         <td> <a href="/view-book?book={{.BookId}}"> {{.Title}} </a> </td>

         <td> Rating: {{.AvrgRating}} </td>
         <td> <img src="/uploads/CoverPhoto/{{.Cover}}" height="42" width="42" > </td>
       </tr>
     {{end}}
     {{end}}
   </body>
   </table>
</html>
