{{define "user-list"}}
{{template "header"}}
{{template "nav-auth"}}
<h1> List Of Users:</h1>
<table id="userListTable">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
  </tr>

</table>



{{template "footer"}}
<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }
  
  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
<script>
  $(document).ready(function(){
    debugger;
  });
  
  </script>
  
{{end}}

